{{!-- Just some plain text --}}
<html>
    <h1>A University Administration Home Page</h1>
    <link href="../css/style.css" rel="stylesheet" type="text/css" />
  <body>
    <p>Navigation Pane</p>
    [ <a href="/classes">Manage Classes</a> | <a href="/instructors">Manage Instructors</a> 
    | <a href="/students">Manage Students</a> | <a href="/registrations">Manage Registrations</a> | 
    <a href="/registrationdetails">Manage Registration Details</a> | <a href="/sections">Manage Sections</a> | <a href="/departments">Manage Departments</a> ]
    <p>This hub is only authorized for use by the administrative staff of A University. But if you're already here, give it a try!</p>
  </body>
</html>
  <p>&nbsp;</p>

